{% load django_browser_reload %}
{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
            RiffMates{% if title %}&mdash;{{ title }}{% endif %}
        {% endblock title%}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="icon" href="{% static 'favicon.svg' %}">
  </head>
  <body>
    <!--Add in the django navigation bar-->
    {% block navbar %}
    <!--Navigation bar from the sample-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">RiffMates</a>
            <!--login logout button-->
            <div>
              {% if user.is_authenticated %}                
              <p class="text-white bg-dark">{{ user.username }}</p>
              <p>
              <form id="password-change-form" method="POST"
                action={% url 'password_change' %}>
                {% csrf_token %}
                <button type="submit" class="btn btn-light">Change password</button>
              </form>
              </p>

              <p>
              <form id="logout-form" method="POST" 
                action={% url 'logout' %} >
                {% csrf_token %}
                <button type="submit" class="btn btn-light">Logout</button>
              </form>
             </p>
              {% else %}
                <p>
                <form id="login-form" method="POST"
                  action={% url 'login' %}>
                  {% csrf_token %}
                  <button type="submit" class="btn btn-light">Login</button>
                </form>
                </p>

                <p>
                  <form id="password-reset-form" method="POST"
                  action={% url 'password_reset' %}>
                  {% csrf_token %}
                  <button type="submit" class="btn btn-light">Forget password</button>
                </form>
                </p>
              {% endif %}
            </div>
            <!--end login logout-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" 
              href="{% url 'index' %}">
                Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" 
              href="{% url 'musicians_list' %}">Musicians</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'user_profile' %}">
                User profile</a>
            </li>

            <!--Start of dropdown-->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Main
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <!--General list for everybody-->                
                  <li><a class="dropdown-item" 
                    href="{% url 'bandgroups_list' %}">
                  Bands</a></li>
                  <li><a class="dropdown-item" 
                    href="{% url 'musicians_list' %}">
                  Musicians</a></li>
                  <li><a class="dropdown-item" 
                    href="{% url 'ads_listing' %}">
                    Classified ads</a></li>                  
                  <li><a class="dropdown-item" 
                    href="{% url 'comment_form' %}">
                    Comment</a></li>
                  </ul>
              </li>
                <!--Start of dropdown-->
                <!--Member's area-->
                {% if user.is_authenticated %} 
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Members' area
                  </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'put_an_ads' %}">Put an ads</a></li>
                <li><a class="dropdown-item" href="{% url 'user_edit_ads' %}">User edit ads</a></li>
                <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" 
                    href="{% url 'seeking_ads_generic_create_view' %}">
                      Create an ads</a></li>
                  <li><a class="dropdown-item" 
                    href="{% url 'seeking_ads_generic_update_view' 2 %}">
                    Update an ads</a></li>
                  <li><a class="dropdown-item" 
                    href="{% url 'seeking_ads_generic_delete_view' 3 %}">
                    Delete an ads</a></li>
                  </ul>
                  </li>
                  {% endif %}
                <!--Other general area-->

                <li><hr class="dropdown-divider"></li>
                <li class="nav-item"><a class="nav-link" 
                  href="{% url 'news' %}">News</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">
                  About</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'credits' %}">
                  Credits</a></li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
    <!--End of block navbar-->
    {% endblock navbar %}
    <!--End of the navigation bar-->

    <!--Main content-->
    <main>
    <div class="container my-5">
      {% block content %}
      <h1>Hello, world!</h1>
      <div class="col-lg-8 px-0">
        <p class="fs-5">You've successfully loaded up the Bootstrap starter example. It includes <a href="https://getbootstrap.com/">Bootstrap 5</a> via the <a href="https://www.jsdelivr.com/package/npm/bootstrap">jsDelivr CDN</a> and includes an additional CSS and JS file for your own code.</p>
        <p>Feel free to download or copy-and-paste any parts of this example.</p>

        <hr class="col-1 my-4">

        <a href="https://getbootstrap.com" class="btn btn-primary">Read the Bootstrap docs</a>
        <a href="https://github.com/twbs/examples" class="btn btn-secondary">View on GitHub</a>
      </div> <!--End div for col-lg-8 px-0-->
      {% endblock content %}
    </div> <!--end div for container my-5-->
    <!--End of block content-->
    
    </main>
    <!--End of main content-->

    <!--Footer-->
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
          {% block footer %}
            <span class="text-muted">RiffMates: by musicians for musicians</span>
          {% endblock footer %}
        </div>
    </footer>
    
    <!--End of footer-->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script defer src="{% static 'main.js' %}"></script>


  </body>
</html>