<!--Index of bands-->
{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ block.super }} Homepage
{% endblock title %}

{% block content %}

<div>
    <img src={% static "Octocat.png" %} 
    alt="logo" 
    width="200" height="200">
    <h1>Welcome to RiffMates</h1>

    <p>This is a site where musicians and bands can put up their profiles and post classified ads. This small app make use of 1-to-1, 1-to-many and many-to-many relationship designs.</p>

    <p>I follow a tutorial along and modify some features on my 
        own as I try out various featues. This is the very <strong>first</strong>
        web app that I built, and it is a very new experience to me.
        There are still <em>many</em> things to learn in this new terrain.
    </p>

    <p>You can try with test user:
        <ul>
            <li style="list-style: url('/static/signpost.svg');">
            Username: honeybear
        </li>
            <li style="list-style: url('/static/signpost.svg');">
            Password: merlion59
        </li>
        </ul>
    </p>
</div>

<div>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="{% url "news" %}">News</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'musicians_list' %}">Musicians</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'bandgroups_list' %}">Bands</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'venues_list' %}">Venues</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'ads_listing' %}">Classified ads</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'comment_form' %}">Comment form</a>
        </li>
    </ul>
</div>

{% endblock content %}