<!--hello/templates/musician.html-->

{% extends "base.html" %}

{% block content %}
    <h1>Musicians</h1>

    <p>
        <!--Content-->
        <ul class="list-group">
            {% for m in musicians %}
            <li class="list-group-item">
                <a href="{% url "musician_detail" m.id %}">
                    {{ m.first_name }} {{ m.last_name }} {{ bandgroup }}
                </a>
            </li>
            {% empty %}
            <li class="list-group-item">No musicians in the database</li>
            {% endfor %}
        </ul>

        <!--Pagination-->
        {% if page.has_other_pages %}
            {% if page.has_previous %}
                <a href="{% url 'musicians-list' %}?page={{page.previous_page_number}}">Prev</a> &nbsp;&nbsp;&nbsp;
            {% endif %}
            <!--Show current page-->
            page {{ page.number }} of {{ page.num_pages }}
            {% if page.has_next%}
                <a href="{% url 'musicians-list' %}?page={{page.next_page_number}}">
                    Next</a>
            {% endif %}
        {% endif %} 
        <!--End pagination-->
    </p>
{% endblock content %}