<!--hello/templates/musician.html-->

{% extends "base.html" %}

{% block content %}
    <h1>Musician details</h1>

    <p>
        {{ musician.first_name}} {{ musician.last_name}}
        was born on {{ musician.birth}}.
    </p>
    
    <p>
        Style of music: {{ style }}
    </p>

    <p>
        In band groups: 
        <ul class="list-group">
            {% for group in bandgroup %}
            <li class="list-group-item">
                {{ group.name }}
            </li>
            {% empty %}
            <li>Not in any band groups</li>
            {% endfor %}
        </ul>
    </p>
{% endblock content %}