<!--Add or edit musician profile-->
{% extends "base.html" %}

{% block title %}
    {{ block.super }} {{ title }}
{% endblock title %}

{% block content %}
<h1>Listing of musician profile</h1>

<p>
    Musician profiles managed by you.
</p>

<p>
    <!--Content-->
    <ul class="list-group">
        {% for m in musicians %}
        <!--List the musician-->
        <li class="list-group-item">
            <a href="{% url "musician_detail" m.id %}">
                {{ m.first_name }} {{ m.last_name }} 
            </a>
            <br>
            <!--Edit button-->
            <a href="{% url 'user_edit_musician' m.id %}"
                class="btn btn-primary">
                Edit</a>
            <br>
            Bands:
            <ul class="list-group">
            {% if m.bandgroup_set.all|length != 0 %}
            {% for item in m.bandgroup_set.all %}
                <li class="list-group-item">
                    <a href="{% url 'bandgroup_detail' item.id %}">
                        {{ item.name }}
                    </a>
                </li>
            {% endfor %%}
            {% else %}
            <li class="list-group-item">None</li>
            {% endif %}
            </ul>
        </li>
        {% empty %}
        <li class="list-group-item">No musicians in the database</li>
        {% endfor %}
    </ul>
</p>

{% endblock content %}