<!--Add or edit musician profile-->
{% extends "base.html" %}

{% block title %}
    {{ block.super }} {{ title }}
{% endblock title %}

{% block content %}
<h1>Add or edit a musician profile</h1>

<p>
    <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <!--data-->

        <!--first name-->
        <label for="{{form.first_name.id_for_label}}">
            {{form.first_name.label}}
        </label>
        <input type="text" class="form-control" size="100"
        name={{form.first_name.name}}
        id={{form.name.id_for_label}}
        aria-describedby="{{form.first_name.id_for_label}}_help_text">
        <div id="{{form.first_name.id_for_label}}_help_text" class="form-text">
            {{form.first_name.help_text}}</div>
        <!--error message-->
        <small>{{form.first_name.errors}}</small>{{form.first_name.}}

        <!--last name-->
        <label for="{{form.last_name.id_for_label}}">
            {{form.last_name.label}}
        </label>
        <input type="text" class="form-control" size="100"
        name={{form.last_name.name}}
        id={{form.name.id_for_label}}
        aria-describedby="{{form.last_name.id_for_label}}_help_text">
        <div id="{{form.last_name.id_for_label}}_help_text" class="form-text">
            {{form.last_name.help_text}}</div>

        <!--birth date-->
        <label for="{{form.birth.id_for_label}}">
            {{form.birth.label}}
        </label>
        <input type="date" class="form-control" 
        min="1960-01-01" max="2024-12-31"
        name={{form.birth.name}}
        id={{form.birth.id_for_label}}
        aria-describedby="{{form.birth.id_for_label}}_help_text">
        <div id="{{form.birth.id_for_label}}_help_text" class="form-text">
            {{form.birth.help_text}}</div>
        <!--error message-->
        <small>{{form.birth.errors}}</small>
        
        <!--style of music-->
        <label for="{{form.style.id_for_label}}" class="form-label">
            {{form.style.label}}
        </label>
        <select class="form-select"
            name={{form.style.name}}
            aria-describedby="{{form.style.id_for_label}}_helptext"
        >   
            <option>---Choose a style---</option>
            {% for item in style_music %}
                <option value={{item}}>{{item}}</option>
            {% empty %}
                <option>No music style</option>
            {% endfor %}
        </select>
        <div id="{{form.style.id_for_label}}_help_text" class="form-text">{{form.style.help_text}}</div>
        <small>{{form.style.errors}}</small>

        <!--description-->
        <label id="{{form.description.id_for_label}}"
            class="form-label">
            {{form.description.label}}
        </label>
        <textarea id="{{form.description.id_for_label}}"
            name="{{form.description.name}}"
            size="300" 
            aria-describedby="{{from.description.id_for_label}}_help_text">
        </textarea>
        <div id="{{form.description.id_for_label}}_help_text"
            class="form-text">
            {{form.description.help_text}}
        </div>
        <small>{{form.style.errors}}</small>

        <!--image-->
        <label for="{{form.picture.id_for_label}}"
            class="form-label">
        <input type="file" id="{{form.picture.id_for_label}}"
            name="{{form.picture.name}}" 
            accept="image/png, image/jpeg"
            size="500000"
            aria-describedby="{{form.picture.id_for_label}}_help_text">
            <div id="{{form.picture.id_for_label}}_help_text"
                class="form-text">
                {{form.picture.help_text}}</div>
            <small>{{form.picture.errors}}</small>

        <!--submit-->
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</p>

{% endblock content %}
