/*
 * Custom CSS
 */

 :root {
    --bs-body-bg: var(--bs-gray-100);
  }



/* Alternate background color for the table in news */
.row1 {
    background-color: white;
}
.row2 {
    background-color: lightgrey;
}