<!--Password change-->
{% extends "base.html" %} 
{% block content %} 

<form method="POST">
    {#% if validlink %#}

    Please enter (and confirm) your new password.

    {% csrf_token %}
    {{ form.as_p }}
    <!--
    {{ form.new_password1.errors }} New password: 	
        {{ form.new_password1 }}
    {{ form.new_password2.errors }} Confirm password: 	
        {{ form.new_password2 }}
    -->
    <button class="btn btn-dark" type="submit">
            Change my password</button>
    {#% else %#}
        <!--Password change failed.
        Please request a new password reset.-->
    {#% endif %#} 
</form>
{% endblock content %} 
