<!--templates/registration/password_rest_form.html-->
{% extends "base.html" %}

{% block content %}
    <p>
        Forgotten your password? Enter your email address below, <br>
        and we'll email instructions for setting a new one.</p>
    <p>
    This form can use Azure Email Client to send email. <br>
    But I cannot get the required uid and token.
    </p>
    <!--form action="/my_password_reset_view/" method="POST"-->
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Reset password</button>
    </form>
{% endblock content %}