<!--Octocat-->
{% extends "base.html" %}
<!--This load static must be loaded again here.-->
{% load static %} 

{% block title %}
    {{ block.super }} {{ title }}
{% endblock title %}

{% block content %}
<div class="App">
    <header class="App-header">
        <img src="{% static 'Octocat.png' %}" class="App-logo" alt="logo" />
        <p>
            GitHub Codespaces <span class="heart">♥️</span> Django
        </p>
        <p class="small">
            Edit <code>hello/templates/hello_index.html</code> and see changes live!
        </p>

        <!--Start added by me-->
        <p>Today: {{ today }}</p>
        <p>{% now 'd' %}-{% now 'M' %}-{% now 'Y'%}, {% now 'H' %}:{% now 'i' %}</p>
        <p>It is {% now "jS F Y H:i" %}</p>
        <!--End added by me-->
    </header>
</div>
{% endblock content %}